<h1>Congrats <%= @planet.claimed_by %>!</h1>
<h3>Planet <%= @planet.name %> is now yours! </h3>

<a href="http://exoplanet.eu/catalog/<%= @planet.name %>/">Want to see what <%= @planet.name %> looks like?</a>

<p> You've named it <%= @planet.claimed_name %> <p>

<%= link_to "Buy another exoplanet", root_path %>
